body {
  font-family: 'Azeret Mono', monospace, 'Noto Sans TC', sans-serif;
}

.logo {
  height: 42px;
}

nav {
  border-bottom: 2px solid;
  border-image: linear-gradient(90deg, #62DB54 0%, #62DB54 50%, #09ACF5 50%, #09ACF5 100%) 1;
}

.mobile {
  display: none;
}

.navBar a {
  color: white;
  font-size: 18px;
  line-height: 26px;
  text-decoration: none;
}

.material-icons {
  vertical-align: middle;
}

.footer {
  height: 67px;
  color: #909090;
  font-size: 16px;
  line-height: 19px;
}

main {
  padding-top: 200px;
}

.image {
  background-image: url(../images/bg_home.jpg);
  background-size: cover;
}

h1 {
  background: linear-gradient(to top, #62DB54, #09ACF5, #09ACF5);
  background: -webkit-linear-gradient(to top, #62DB54, #09ACF5, #09ACF5);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.title {
  padding-top: 52px;
}

.box {
  width: 640px;
  height: 260px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  margin: 0 auto;
  position: relative;

  & :before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #fff;
    position: absolute;
    top: -5px;
    left: -5px;
  }

  &:after {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #fff;
    position: absolute;
    top: -5px;
    right: -5px;
  }
  p{
    white-space: nowrap;
  }
}

.box2 {
  width: 640px;
  border-top: 1px solid #fff;
  margin: 0 auto;
  position: relative;
  padding-bottom: 200px;

  &:before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #fff;
    position: absolute;
    bottom: 195px;
    left: -5px;
  }

  &:after {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #fff;
    position: absolute;
    bottom: 195px;
    right: -5px;
  }
}

.handByHand {
  font-size: 28px;
  line-height: 40px;
  position: relative;
  padding-bottom: 16px;

  &:before {
    content: "";
    position: absolute;
    width: 50px;
    height: 3px;
    background-color: #62DB54;
    bottom: 0;
    left: 0;
  }
}

.align {
  height: 264px;
  padding-top: 48px;
  padding-bottom: 48px;
}

.location {
  border: 1px solid #212529;
  border-radius: 12px;

  &:hover {
    border: 1px solid #62DB54;
  }
}

.padding {
  padding-top: 80px;
  padding-bottom: 80px;
}

.gradient {
  background: linear-gradient(to top, #62DB54, #09ACF5);
  background: -webkit-linear-gradient(to top, #62DB54, #09ACF5);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.class {
  padding-top: 80px;
  padding-bottom: 16px;
  position: relative;

  &:after {
    content: "";
    width: 50px;
    height: 3px;
    background-color: #62DB54;
    position: absolute;
    left: calc(50% - 32px);
    bottom: 0;
  }
}

.reservation {
  height: 200px;
  border: 1px solid #fff;
  border-radius: 12px;
  position: relative;
}

.num {
  position: absolute;
  top: -24px;
  left: 50px;
}

.color {
  position: absolute;
  top: -24px;
  left: 42px;
  width: 64px;
  height: 32px;
  background-color: #212529;
}

.scroll {
  overflow-x: auto;
}

.classes {
  border-radius: 24px;
  text-align: center;

  &:hover {
    border: 1px solid #62DB54;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
}

.margin {
  margin-top: 44px;
}

.btn-grandient {
  background: linear-gradient(to left, #62DB54, #09ACF5);
  width: 172px;
  margin: 0 auto;
}

.spacer {
  margin-top: 216px;
  margin-left: 50px;
}

.background {
  height: 615px;
  background-image: url(../images/info01.jpg);
  background-size: cover;
  opacity: 0.3;
}

.subtitle {
  margin-left: 50px;
  padding-bottom: 16px;
  position: relative;
  opacity: 1;

  &:after {
    content: "";
    width: 50px;
    height: 3px;
    background-color: #FFFFFF;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.content {
  margin-left: 50px;
  margin-top: 32px;
  margin-bottom: 216px;
}

.background:hover {
  opacity: 1;

  span:hover {
    color: #62DB54;
  }

  .subtitle:hover {
    margin-left: 50px;
    padding-bottom: 16px;
    position: relative;

    &:hover:after {
      content: "";
      width: 50px;
      height: 3px;
      background-color: #62DB54;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}

.background2 {
  height: 615px;
  background-image: url(../images/info02.jpg);
  background-size: cover;
  opacity: 0.3;
}

.background2:hover {
  opacity: 1;

  span:hover {
    color: #62DB54;
  }

  .subtitle:hover {
    margin-left: 50px;
    padding-bottom: 16px;
    position: relative;

    &:hover:after {
      content: "";
      width: 50px;
      height: 3px;
      background-color: #62DB54;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}

.background3 {
  height: 615px;
  background-image: url(../images/info03.jpg);
  background-size: cover;
  opacity: 0.3;
}

.background3:hover {
  opacity: 1;

  span:hover {
    color: #62DB54;
  }

  .subtitle:hover {
    margin-left: 50px;
    padding-bottom: 16px;
    position: relative;

    &:hover:after {
      content: "";
      width: 50px;
      height: 3px;
      background-color: #62DB54;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}

.background4 {
  height: 615px;
  background-image: url(../images/info04.jpg);
  background-size: cover;
  opacity: 0.3;
}

.background4:hover {
  opacity: 1;

  span:hover {
    color: #62DB54;
  }

  .subtitle:hover {
    margin-left: 50px;
    padding-bottom: 16px;
    position: relative;

    &:hover:after {
      content: "";
      width: 50px;
      height: 3px;
      background-color: #62DB54;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}

.card {
  background: #2D2D2D;
  padding: 32px;
}
.squareRounded {
  display: none;
  width: 32px;
  height: 32px;
  &-topLeft {
    border-top: 2px solid #62db54;
    border-left: 2px solid #62db54;
    border-top-left-radius: 24px;
  }
  &-topRight {
    border-top: 2px solid #62db54;
    border-right: 2px solid #62db54;
    border-top-right-radius: 24px;
  }
  &-bottomLeft {
    border-bottom: 2px solid #62db54;
    border-left: 2px solid #62db54;
    border-bottom-left-radius: 24px;
  }
  &-bottomRight {
    border-bottom: 2px solid #62db54;
    border-right: 2px solid #62db54;
    border-bottom-right-radius: 24px;
  }
}
.card:hover {
  .squareRounded {
    display: block;
  }
}


.card-title {
  font-size: 18px;
  line-height: 26px;
}

.card-body a {
  text-align: right;
  text-decoration: none;
}

.image2 {
  background-image: url(../images/bg_share.jpg);
  background-size: cover;
}

.share {
  position: relative;

  img {
    max-width: 525px;
    border-radius: 24px;
    margin-bottom: 198px;
  }

  .comment {
    position: absolute;
    border-radius: 24px 24px 24px 0;
    background-color: #fff;
    top: 251px;
    left: 509px;
    width: 416px;
  }
}

.student img {
  width: 100px;
  height: 100px;
  position: absolute;
  top: -50px;
  right: 32px;
  border-radius: 50%;
}

.join {
  max-width: 100%;
  border-radius: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.join-icon {
  font-size: 110px;
  padding: 48px;
}

.fs-28 {
  font-size: 28px;
  line-height: 40px;
}

.fs-18 {
  font-size: 18px;
  line-height: 26px;
}

.btn-outline-light:hover {
  color: #62DB54 !important;
  background-color: #212529 !important;
  border:1px solid #62DB54 !important;
}
.modal-content{
  border: 1px solid #fff;
}
.modal-header{
  border: 1px solid #2D2D2D;
}
.modal-footer{
  border: 1px solid #2D2D2D;
}
input[type="email"]{
  background-color: #212529;
}
input[type="password"]{
  background-color: #212529;
}
.login{
  width: 100%;
}
.other{
  position: relative;
  &:before{
    content:"";
    background-color: #fff;
    width: 36%;
    position: absolute;
    height: 1px;
    top: 10px;
    left: 0;
  }
  &:after{
    content:"";
    background-color: #fff;
    width: 36%;
    position: absolute;
    height: 1px;
    top: 10px;
    right: 0;
  }
}
.fb{
  width: 100%;
  img{
    width: 24px;
    height: 24px;
    margin-right: 58px;
  }
}
.google{
  width: 100%;
  img{
    width: 24px;
    height: 24px;
    margin-right: 68px;
  }
}

@media(max-width:820px) {
  .pc {
    display: none;
  }

  .mobile {
    display: block;
  }

  nav {
    height: 72px;
  }

  .logo {
    width: 40px;
    height: 40px;
    padding-left: 12px;
  }

  .icon {
    display: inline-block;
  }

  .navBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .title {
    padding: 0;
  }

  ul {
    margin: 0;
  }

  .box {
    width: 346px;
    height: 176px;
  }

  .box2 {
    width: 346px;
  }

  main {
    padding-top: 80px;
    margin: 0;
  }

  .share img {
    max-width: 331px;
    margin-bottom: 359px;
  }

  .share {
    .comment {
      width: 336px;
      padding-bottom: 45px;
      left: 0;
      top: 350px;
    }
  }

  .student img {
    width: 100px;
    height: 100px;
    position: absolute;
  }

  .join {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .handByHand {
    text-align: center;
    position: relative;
    padding-bottom: 16px;

    &:before {
      content: "";
      position: absolute;
      width: 50px;
      height: 3px;
      background-color: #62DB54;
      bottom: 0;
      left: calc(50% - 32px);
    }
  }

  .align {
    padding-top: 40px;
    padding-bottom: 24px;
  }

  .padding {
    padding-top: 0;
    padding-bottom: 24px;
  }

  .text {
    font-size: 18px;
    line-height: 26px;
  }

  .class {
    padding-top: 40px;
  }

  .reservation {
    margin-top: 50px;
  }

  .num {
    font-size: 48px;
    line-height: 56px;
    font-weight: 700;
  }

  .color {
    width: 76px;
  }

  .background {
    max-width: 100%;
    height: 263px;
  }

  .background2 {
    max-width: 100%;
    height: 263px;
  }

  .background3 {
    max-width: 100%;
    height: 263px;
  }

  .background4 {
    max-width: 100%;
    height: 263px;
  }

  .spacer {
    margin-top: 42px;
    margin-left: 0;
  }

  .subtitle {
    margin-left: 0px;
    padding-bottom: 16px;
    position: relative;
    opacity: 1;
    &:after {
      content: "";
      width: 50px;
      height: 3px;
      background-color: #FFFFFF;
      position: absolute;
      bottom: 0;
      left: calc(50% - 25px);
    }
  }

  .background:hover {
    opacity: 1;
  
    span:hover {
      color: #62DB54;
    }
  
    .subtitle:hover {
      margin-left: 0px;
      padding-bottom: 16px;
      position: relative;
  
      &:hover:after {
        content: "";
        width: 50px;
        height: 3px;
        background-color: #62DB54;
        position: absolute;
        bottom: 0;
        left: calc(50% - 25px);
      }
    }
  }
  .background2:hover {
    opacity: 1;
  
    span:hover {
      color: #62DB54;
    }
  
    .subtitle:hover {
      margin-left: 0px;
      padding-bottom: 16px;
      position: relative;
  
      &:hover:after {
        content: "";
        width: 50px;
        height: 3px;
        background-color: #62DB54;
        position: absolute;
        bottom: 0;
        left: calc(50% - 25px);
      }
    }
  }
  .background3:hover {
    opacity: 1;
  
    span:hover {
      color: #62DB54;
    }
  
    .subtitle:hover {
      margin-left: 0px;
      padding-bottom: 16px;
      position: relative;
  
      &:hover:after {
        content: "";
        width: 50px;
        height: 3px;
        background-color: #62DB54;
        position: absolute;
        bottom: 0;
        left: calc(50% - 25px);
      }
    }
  }
  .background4:hover {
    opacity: 1;
  
    span:hover {
      color: #62DB54;
    }
  
    .subtitle:hover {
      margin-left: 0px;
      padding-bottom: 16px;
      position: relative;
  
      &:hover:after {
        content: "";
        width: 50px;
        height: 3px;
        background-color: #62DB54;
        position: absolute;
        bottom: 0;
        left: calc(50% - 25px);
      }
    }
  }
  .content {
    margin-left: 0px;
  }
  .image2 h2{
    padding: 40px 50px 16px;
  }
  .share .comment{
    height: 178px;
  }
  .join-icon{
    padding-top: 40px;
    padding-bottom: 24px;
  }
  .fs-28{
    font-size: 24px;
    line-height: 35px;
  }
  .fs-18{
    font-size: 16px;
    line-height: 24px;
    padding-right: 24px;
    padding-left: 24px;
  }
  .buttom{
    margin-bottom: 40px;
  }
  .footer{
    font-size: 12px;
    line-height: 14px;
  }
}